package day{{ printf "%02d" . }}

import (
    "io"
    "github.com/macgeargear/advent-of-code-go/utils"
)

func SolvePart2(r io.Reader) any {
    lines := utils.ReadLines(r)
    _ = lines

    return 0
}
